@media only screen and (max-width : 616px) 
{
/* Styles */
	video, #info, #description {
	display: block;
	}
	
	#container {
		text-align:left;
		background: #444444;
		color: #D5D5D5;
		margin:0px 0px; padding:0px;
		text-align:center;
	}
	video{
	  display:none;
	  width:400px;
	  height:300px;
	}

	#canvassource {
		width:500px;
		margin:0px auto;
		text-align:left;
		padding:15px;
		border:1px solid #333;
		background-color:#eee;
		top: 150px;
		left: 200px;
		display:inline;
		width:400px;
	  	height:300px;
	}
	
	#canvasdest {
		display: none;
		position: absolute;
		top: 407px;
		left: 500px;
		width:400px;
	  	height:300px;
	}
	
	
	#HCB_comment_box{
		display:none;
		
	}
	

}


@media only screen and (max-width : 970px) {
/* Styles */
	#texte
	{	
		text-align:center;
	}
	
	
	#lefttext
	{
		text-align:center;
		font-family: inherit;
	}
	
	#righttext
	{	
		clear:both;
		text-align:center;
		font-family: inherit;
	}

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}